<main class="category">
  <h2><%= @category.name %> quotes</h2>
    <div class="form-link"><%= link_to "+ new quote", new_category_sprinkle_path(@category)%></div>

<div class="transitions-enabled masonry grid">
    <% @category.sprinkles.order("created_at DESC").each do |sprinkle| %>
        <%= link_to category_sprinkle_path(@category, sprinkle) do %>
        <div class= "grid-item">
          <p><%= sprinkle.quote %></p>
        </div>
        <% end %>
    <% end %>
</div>
</main>
